html {
  font-family: monospace;
}
.Header {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}
#logo {
  height: 60px;
  display: flex;
  margin: 10px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
#Menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  padding: 0px 40px 0px 20px;
}
.menu {
  color: rgb(35, 33, 33);
  margin: 20px;
  font-family: monospace;
  text-decoration: none;
}
.menu:hover {
  font-size: 32px;
  text-decoration: solid;
  color: rgb(98, 98, 98);
}

#intro {
  height: 50vh;
  font-family: monospace;
  font-size: larger;
  text-align: center;
  padding: 10vh 10vw 10vh 10vw;
}

.services > h1 {
  font-size: 32px;
  display: flex;
  padding: 10px;
  background: rgba(4, 4, 44, 0.25);
  width: 100vw;
  text-align: center;
  justify-content: center;
}

.service {
  display: flex;
  padding: 10vh 5px 10vh 5px;
}

.service > img {
  width: 50vw;
  padding: 10px;
  height: 80vh;
  margin: 5px;
}
.service > p {
  width: 50vw;
  padding: 10px;
  text-align: justify;
  margin: 5px;
}

.footer {
  height: 30vh;
  background: rgb(118, 118, 118);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footerlogo > img {
  height: 8vh;
  padding: 20px;
}
#footeradrs {
  font-size: 24px;
  padding: 20px;
}
